

.previewfootersection {
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -100;
  background-color: transparent;
}

.previewfooterdiv {
  position: static;
  display: block;
  width: 275px;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.mostsections {
  background-color: transparent;
}

.hiddensection{
    display: none;
}

.mostcontainers {
  /*display: block;
  padding-right: 0px;
  padding-left: 0px;
  background-color: transparent;
  max-width: 100%;*/
}

.mosteditordivs {
  display: block;
  height: 100%;
  padding-top: 7em;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  background-color: transparent;/*#f8e71c;*/
  border-style: solid;
  border-color: lightgrey;
    
}

.mosteditordivs.last {
  background-color: #000;
}

.stepnumicon {
  display: none;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  padding: 0px;
  float: none;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
}

.stepformwrapper {
  display: block;
  /*margin-bottom: 30%;*/
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  font-family: Montserrat, sans-serif;
  font-size: 50px;
}

.stepnumdiv {
  display: block;
  width: 15%;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 8%;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  color: #666;
  text-align: center;
}

.nextbutton {
  display: inline-block;
  float: none;
  font-family: Montserrat, sans-serif;
  font-size: 35px;
  text-align: center;
}

.formdiv {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  text-align: center;
}

.stepinputdiv {
  width: 70%;
  padding-right: 0.4em;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}

.stepinputdiv.step2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.stepbutton {
  display: block;
  width: 100%;
  margin-top: 2em;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}

.stepbutton.two {
  margin-top: 1.4em;
}

.stepbutton.three {
  margin-top: 1.5em;
}

.step1title {
  margin-top: 1em;
  margin-bottom: 1em;
  font-family: Oswald, sans-serif;
  text-align: left;
}

.step1text2 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  color: rgba(51, 51, 51, .5);
  text-align: left;
}

.step1input1 {
  margin-bottom: 1em;
  padding-top: 1em;
  padding-right: 12px;
  padding-bottom: 1em;
  font-family: Oswald, sans-serif;
  color: #d9d9d9;
  font-size: 35px;
}

.logoheading {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 2.1%;
  width: 13.26em;
  font-family: 'Bodoniflf bold', sans-serif;
  color: #fff;
}

.logoheading.template {
  margin-left: 5%;
}

.headerdiv {
  /*padding-top: .5em;
  padding-bottom: .5em;*/
  background-color: transparent; /*#01afd1;*/
  color: #fff;
  border-style: solid;
  border-color: lightgrey;
  
}

.step2title {
  margin-top: 1em;
  margin-bottom: 1em;
  font-family: 'Oswald medium', sans-serif;
  color: black;
  text-align: center;
}

.step2icon {
  max-width: 50%;
  border: 2px none #e41a1a;
  text-align: center;
}

.nextlinkblock {
  width: 2em;
    fill: black; 
    stroke: white; 
}

svg{
    fill: black;
}

.previewfootercontainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: #626364;
}

.stepnumber {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border: 8px none #666;
  border-radius: 0px;
  font-family: 'Oswald medium', sans-serif;
  font-size: 100px;
  text-align: left;
  color: black;
}

.headersection {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  z-index: 1;
  background-color: transparent;
  color: #000;
}

.step2selfiediv {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  margin-left: 7%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
}

.step2uploaddiv {
  display: none;
  width: 40%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.step2or {
  display: none;
  width: 1.5em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #666;
}

.step3title {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 4%;
  font-family: 'Oswald medium', sans-serif;
  color: black;
  text-align: left;
}

.step3heroesdiv {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/*.hr1{
   -webkit-filter: invert(1);
   filter: invert(1);
}*/

.hero1link {
  width: 30%;
  margin-right: 3%;
  margin-left: 5%;
  border: 4px solid #000;
  border-radius: 15px;
  /*background-color: #666666;*/
}

.hero2link {
  width: 30%;
  margin-right: 3%;
  margin-left: 3%;
  border: 4px solid #000;
  border-radius: 15px;
}

.hero3link {
  width: 30%;
  margin-right: 3%;
  margin-left: 3%;
  border: 4px solid #000;
  border-radius: 15px;
}

.hero4link {
  width: 20%;
  margin-right: 2%;
  margin-left: 2%;
  border: 4px solid #000;
  border-radius: 15px;
  display: none; 
}

.step4title {
  margin-top: 1em;
  margin-bottom: 1em;
  font-family: 'Oswald medium', sans-serif;
  color: black;
  text-align: left;
}

.step4input {
  margin-bottom: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  font-family: 'Oswald medium', sans-serif;
  color: #666;
  font-size: 35px;
 
}

.extraspacecontainer {
  padding-bottom: 10em;
  background-color: #000;
  font-size: 50px;
}

.submitbutton {
  padding: 0.4em 0.5em;
  border: 6px none #666;
  background-color: #01afd1;
  font-family: 'Oswald medium', sans-serif;
  color: #fff;
  text-decoration: none;
}

.modaldiv {
  position: relative;
  /*left: 0px;
  top: 0px;
  right: 0px;*/
  z-index: 2;
 /* display: none;*/
 /* width: 600px; 
  height: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;*/
  background-color: rgba(0, 0, 0, .5);
  text-align: center;
    width: 100%; 
  height: 100%;
    text-align: center;
    
}

.modalcontent {
  /*position: absolute;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;*/
    position: absolute;
    display: inline-block; 
    z-index: 2; 
    
  width: 600px;
  height: 100%;
  max-width: 100%;
    margin-left:auto;
margin-right:auto;
    background-color: #01afd1;
    left: 0; 
    right: 0;
  /*-webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  background-color: #01afd1;*/
}


/* Safari 6.1+ (10.0 is the latest version of Safari at this time) */

/*@media screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0) 
{ @media {
    .safari_only { 

        color:#0000FF; 
        background-color:#CCCCCC; 

    }
        .modalcontentwrapper{
    width: 940px;
    text-align: center; 
}

}}*/


.modalclosediv {
    position: absolute;
    z-index: 5;
    background-color: rgba(0,0,0,0.3);
    min-width: 20px;
    min-height: 20px;
    padding: 13px;
    display:inline-block;
}

.modalcanvasdiv {
  position: relative;
    display: inline-block;
    width: 100%;
    height: auto;
 /* display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;*/
  align-items: center;
  background-color: #ffffff;
}

.modalcameradiv {
  width: 100%;
  margin-top: 2em;
  margin-bottom: 2em;
  /*-webkit-align-self: center;
  -ms-flex-item-align: center;*/
  align-self: center;
  z-index: 5; 
    position: absolute;
    bottom: 0px;
    padding-bottom: 12%;
    padding-top: 1%; 
    text-align: center;
    background-color:#01afd1; 
    
}

.photobutton{
    max-width: 100%;
    width: 25%;
    vertical-align: middle;
    display: inline-block;
    text-align: center;
    padding-top: 1em;
}


.modalapprovecontent {
    position: absolute;
    display: inline-block;
    z-index: 1; 
    width: 600px;
    height: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    left: 0; 
    right: 0;
  /*position: absolute;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: none;
  width: 600px;
  height: 100%;
  max-width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;*/
  background-color: #01afd1;
}

.modalyesno {
  /*display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;*/
     width: 100%;
  margin-top: 2em;
  margin-bottom: 2em;
    position: absolute;
    bottom: 0px;
    padding-bottom: 12%;
    padding-top: 1%;
    text-align: center;
  /*-webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;*/
 z-index: 5; 
        display: table;
    table-layout: fixed;
    background-color:#01afd1;
}

.modalyes {
  /*width: 20%;
    display: inline-block;*/
    vertical-align: middle;
    display: table-cell;
    text-align: center;
    padding-top: 1em;
}

.modalno {
 /*width: 20%;
    display: inline-block;*/
    vertical-align: middle;
    display: table-cell;
    text-align: center;
    padding-top: 1em;
}

.yesbutton{
    width: 50%;
}
.nobutton{
    width: 50%;
}
.parenttitlediv {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #01afd1;
      background: -webkit-linear-gradient(left top, #01afd1,#000 ); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #01afd1,#000); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #01afd1,#000); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right,#01afd1,#000); /* Standard syntax */
    background: transparent; 
    border-style: solid;
    border-color: lightgrey;
}

.playerbkg {
  position: relative;
    display: block;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  /*padding-top: 0.2em;
  padding-bottom: 0.2em;*/
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  /*border: 7px none #01afd1;*/
  background-color: #000;
  background: -webkit-radial-gradient( #666, #333, black); /* Safari 5.1 to 6.0 */
  background: -o-radial-gradient(#666, #333, black); /* For Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(#666, #333, black); /* For Firefox 3.6 to 15 */
  background: radial-gradient(#666, #333, black); /* Standard syntax */
    border-style: solid;
    border-color: lightgrey;
     border-bottom: none;
     border-top: none;
    
}

.playerdiv {
  position: relative;
  display: block;
  width: 600px;
  height: 450px;
   /* max-width: 600px; 
    max-height: 450px;
    height: auto; 
    */
    /*max-width: 100%;
    width: 600px; 
    height: 450px; 
    padding-bottom: 75%*/
    
    /*width: 100%;
    padding-bottom: 75%;
   */
    
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  background-color: transparent;
    overflow: hidden;
}

  /*.playerwrapperdiv{
    max-width: 100%;
      
    height: auto;
  }*/

/*html, body {
  overflow:hidden 
}*/
.oldhomehtml, .oldhomebody{
  background-color: #000;
  /*background: #01afd1;  For browsers that do not support gradients */
 background: -webkit-linear-gradient(left top, #f8e71c, #000); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #f8e71c, #000); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right,#f8e71c, #000); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #f8e71c, #000); /* Standard syntax */
}

.indexhtml, .indexbody{
  background-color: #000;
  /*background: #01afd1;  For browsers that do not support gradients */
 background: -webkit-linear-gradient(left top, #01afd1, #000); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #01afd1, #000); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right,#01afd1, #000); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #01afd1, #000); /* Standard syntax */
}

.socialmediadiv {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
    padding-top: 1%;
}

.sharediv {
  /*padding-bottom: .5em;*/
  background-color: #f8e71c;
  height: auto; 
  /*background: -webkit-radial-gradient(#fff, #f8e71c, #f8e71c); /* Safari 5.1 to 6.0 */
  /*background: -o-radial-gradient(#fff, #f8e71c, #f8e71c); /* For Opera 11.6 to 12.0 */
  /*background: -moz-radial-gradient(#fff, #f8e71c, #f8e71c); /* For Firefox 3.6 to 15 */
  /*background: radial-gradient(#fff, #f8e71c, #f8e71c); /* Standard syntax */
    
  background: -webkit-linear-gradient( #01afd1,#f8e71c); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient( #01afd1,#f8e71c); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient( #01afd1,#f8e71c); /* For Firefox 3.6 to 15 */
  background: linear-gradient( #01afd1,#f8e71c); /* Standard syntax */
    background: transparent; 
    border-style: solid;
    border-color: lightgrey;
     border-top: none;
    
}

.sharelinkdiv {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  text-align: left;
    padding-top: 1%;
}

.giflinkdiv {
  display: none;
}

.facebookdiv {
  width: 10%;
  margin-right: 5%;
}

.twitterdiv {
  width: 10%;
  margin-left: 5%;
}

.titleheading {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 18%;
  width: 13em;
*/  /*margin-left: 0.25em;*/
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  font-family: 'Bodoniflf bold', sans-serif;
  color: #fff;
}

.statsdiv {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  background-color: #01afd1;
  background: -webkit-linear-gradient(left top,#000, #01afd1 ); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #000, #01afd1); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right,#000, #01afd1); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right,#000, #01afd1); /* Standard syntax */
  background: transparent; 
    border-style: solid;
    border-color: lightgrey;
}

.stats {
  margin-top: 0em;
  margin-right: 0.35em;
  margin-bottom: 0em;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  font-family: 'Oswald medium', sans-serif;
  color: lightgrey;
  font-size: 25px;
  font-weight: 400;
  text-align: right;
}

.titleheadingdiv {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}

.editbutton {
  display: inline-block;
  margin-right: 0.25em;
  padding-top: 0.3em;
  padding-bottom: 0.35em;
  background-color: lightgrey;
  font-family: Oswald, sans-serif;
  color: #000;
  font-size: 45px;
  font-weight: 400;
  text-align: left;
}

.editdiv {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.statsviews {
  margin-top: 0em;
  margin-right: 0.4em;
  margin-bottom: 0em;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  font-family: 'Oswald medium', sans-serif;
  color: lightgrey;
  font-size: 20px;
  font-weight: 400;
}

.sharelink {
  margin-top: 0.5em;
  margin-bottom: 0.2em;
  font-family: 'Oswald bold', sans-serif;
  font-size: 35px;
    color:  lightgrey;
}

.sharelinktext {
  margin-right: 0.35em;
  padding: 2% 2em 2% 0.5em;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border: 10px none #000;
  background-color: #333;
  font-family: Oswald, sans-serif;
  color: lightgrey;
  font-size: 25px;
}

.playerhelptxtdiv {
  display: none; 
  position: absolute;
  /*margin: 0; 
    padding: 0; 
    */
     text-align: center;
	width: 600px;
  /*left: 0px;
  right: 0px;*/
/*    width: 600px; */
  bottom: 0px;
    
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
    z-index: 5; 
}

.animation1div{
    position: absolute; 
    overflow: hidden;
    
}
.animation2div{
    position: absolute; 
    overflow: hidden;
}
.animation3div{
    position: absolute;     
    overflow: hidden;
}
.animation4div{
    position: absolute;    
    overflow: hidden;
}
.playerhelptext {
    
  background-color: rgba(1, 1, 1, .75);
  font-family: 'Oswald medium', sans-serif;
  color:hsla(0, 0%, 100%, .7);
  display: inline-block;
    padding-left: 2.5%;
    padding-right: 2.5%;
     
  /*z-index: 50; 
      margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  background-color: #fff;
  font-family: 'Oswald bold', sans-serif;
  color: #000;
  font-size: 70px;
  text-align: left;*/
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.modalhelpertext {
  position: absolute;
  display: block;
  background-color: rgba(0, 0, 0, .5);
  color: hsla(0, 0%, 100%, .5);
}

/*.webcamvideo {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: 600px;
  height: auto;
  max-width: 100%;
}*/

.webcamhelpertext {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 30%;
  /*height: 12%;
    line-height: 12%;*/
  z-index: 5;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  background-color: rgba(0, 0, 0, .5);
  font-family: 'Oswald medium', sans-serif;
  color: #fff;
  font-size: 35px;
  font-weight: 400;
}

.webcamoverlayimage {
  position: absolute;
  
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  /*  max-width: 100%;
  width: 100%;
  height: auto;*/
  z-index: 4;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.webcamvideo{
  position: relative;
  left: 0px;
  top: 0px;
  right: 0px;
  max-width: 100%; 
  width: 100%;
  height: 75%;
  vertical-align: bottom;
  background-color:#01afd1;
  -ms-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
    
  /*-webkit-filter: saturate(800%);
  filter: saturate(800%);*/
  -webkit-filter: brightness(300%);
  filter: brightness(300%);
}

.webcamcanvas {
  position: relative;
  display: none;
  left: 0px;
  top: 0px;
  right: 0px;
  max-width: 100%; 
  width: 100%;
  height: auto;
}

.approveimage {
  position: relative;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  /*max-width: 100%; 
  width: 100%;
  height: auto;*/
}

.approvehelpertext {
  position: absolute;
    display: none;
  left: 0px;
  right: 0px;
  bottom:30%;
  z-index: 1;
  background-color: rgba(0, 0, 0, .5);
  font-family: 'Oswald medium', sans-serif;
  color: #fff;
  font-size: 35px;
  font-weight: 400;
}

.closeicon {
  width: 3em;
  vertical-align: top;
}

.footertext {
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #000;
  font-family: 'Oswald medium', sans-serif;
  color: #fff;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
    display: none;
}

.loadingBar{
    background-color: transparent; 
    /*padding-top: 55px; 
 	width: 600px; height: 450px;
	object-fit: fill;
    text-align: center;*/
}

.playertext {
  position: absolute; 
  top: 0px;
  right: 0px; 
  width: 66%; 
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  /*background-color: #000;*/
  font-family: 'Oswald bold', sans-serif;
  color: #fff;
  font-size: 4em;
  text-align: center;
  visibility: hidden; 
  z-index: 5;
}

html.w-mod-js *[data-ix="displaynoneonload"] {
  display: none;
}

@media (max-width: 991px) {
  .facebookdiv {
    width: 12%;
  }
  .twitterdiv {
    width: 12%;
  }

    .closeicon {
  width: 1.5em;
  vertical-align: top;
}

}

@media (max-width: 767px) {
  .formdiv {
    font-size: 40px;
  }
  .facebookdiv {
    width: 15%;
  }
  .twitterdiv {
    width: 15%;
  }
    

    

 /*    .titleheading {
    font-size: 10em;
  }*/
}

@media (max-width: 479px) {

  .stepnumdiv {
    font-size: 35px;
  }
  .formdiv {
    font-size: 25px;
  }
  .step1title {
    font-size: 25px;
  }
  .step1input1 {
    font-size: 25px;
  }
  .stepnumber {
    font-size: 50px;
  }
  .step4title {
    line-height: 30px;
  }
  .step4input {
    font-size: 25px;
  }
  .step2ortext {
    font-size: 25px;
  }
  .parenttitlediv {
    font-size: 14px;
  }
  .facebookdiv {
    width: 18%;
  }
  .twitterdiv {
    width: 18%;
  }
  /*.titleheading {
    font-size: 10em;
  }*/
  .stats {
    margin-top: 0.1em;
    margin-bottom: 0.1em;
    font-family: 'Oswald bold', sans-serif;
    font-size: 18px;
  }
  .editbutton {
    font-size: 40px;
  }
  .statsviews {
    margin-top: 0.1em;
    margin-bottom: 0.1em;
    font-size: 14px;
  }
  .sharelink {
    margin-top: 0em;
    margin-bottom: 0em;
    font-size: 30px;
  }
  .sharelinktext {
    width: 95%;
    font-size: 14px;
  }
  .playerhelptext {
    font-size: 30px;
  }
  .playertext {
    font-size: 33px;
  }
}

@font-face {
  font-family: 'Bodoniflf bold';
  src: url('../fonts/BodoniFLF-Bold.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Bodoniflf roman';
  src: url('../fonts/BodoniFLF-Roman.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Oswald';
  src: url('../fonts/Oswald-RegularItalic.ttf') format('truetype'), url('../fonts/Oswald-MediumItalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Oswald medium';
  src: url('../fonts/Oswald-Medium.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Oswald bold';
  src: url('../fonts/Oswald-Bold.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Oswald stencil';
  src: url('../fonts/Oswald-Stencil.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}